  /* ORIGINAL TASK PUPILS STARTED WITH
 Full credit to code.org for task */

 p {
   color: #1c1c1c;
   font-style: italic;
 }
 h1 {
   color: #f74545;
   font-weight: bold;
   font-family: Helvetica, sans-serif;
 }

 h2 {
   color: whitesmoke;
   font-weight: bold;
   text-decoration: underline;
   font-family: Helvetica, sans-serif;
 }
 body{
   background-color:#ffe01a;
 }

 img{
   height: 300px;
   width: 300px;
 }